SOAPApplication.module/Resources/PhoneValidation_gen1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.tmw.com/PhoneValidation/wsdl/1603967929975" xmlns:ns0="http://www.tmw.com/Schemas/PhoneValidationRequest/1.0.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Process" targetNamespace="http://www.tmw.com/PhoneValidation/wsdl/1603967929975">
  <wsdl:types>
    <xsd:schema xmlns:alp="http://www.tmw.com/Schemas/Common/PhoneValidationRequest/1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tmw.com/Schemas/PhoneValidationRequest/1.0.0">
      <xsd:element name="PhoneValidationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Header">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="Domain" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="Source" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="Target" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CompanyID">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="TMW"/>
                        <xsd:enumeration value="KNG"/>
                        <xsd:enumeration value="MSP"/>
                        <xsd:enumeration value="TMWSUP"/>
                        <xsd:enumeration value="JAB"/>
                        <xsd:enumeration value="MCY"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="GlobalTransactionID" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="BusinessID" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="ProjectName" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime"/>
                  <xsd:element minOccurs="0" name="Priority" type="xsd:integer"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Body">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="PhoneNumber" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PhoneValidationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Header">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="Domain" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="Source" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="Target" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CompanyID">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="TMW"/>
                        <xsd:enumeration value="KNG"/>
                        <xsd:enumeration value="MSP"/>
                        <xsd:enumeration value="TMWSUP"/>
                        <xsd:enumeration value="JAB"/>
                        <xsd:enumeration value="MCY"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="GlobalTransactionID" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="BusinessID" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="ProjectName" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="Timestamp" type="xsd:dateTime"/>
                  <xsd:element minOccurs="0" name="Priority" type="xsd:integer"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Body">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="PhoneNumber" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="StatusMessage" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validatePhoneRequest">
    <wsdl:part element="ns0:PhoneValidationRequest" name="ValidationRequest"/>
  </wsdl:message>
  <wsdl:message name="validatePhoneResponse">
    <wsdl:part element="ns0:PhoneValidationResponse" name="ValidationResponse"/>
  </wsdl:message>
  <wsdl:portType name="Process">
    <wsdl:operation name="validatePhone">
      <wsdl:input message="ns:validatePhoneRequest" name="operationInput"/>
      <wsdl:output message="ns:validatePhoneResponse" name="operationOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceBinding" type="ns:Process">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validatePhone">
      <soap:operation soapAction="validatePhone" style="document"/>
      <wsdl:input>
        <soap:body parts="ValidationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="ValidationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Process">
    <wsdl:port binding="ns:SOAPServiceBinding" name="ProcessSOAP">
      <soap:address location="http://localhost:8096/SOAPServiceBinding/process/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
